@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@media (max-width: 995px) {
    body{
        --font1: 30px;
        --font2: 20px;
        --fontnav: 15px;
        --margin-top: 15%;
        --height: 300px;
    }
    ul li {
      /* display: block !important; */
      flex-direction: column;
      align-items: center;
    }
    .nav-item BUTTON{
        --fontbutton: 15px;
    }
    #itens-mercado{
        display: flex;
        justify-content: space-around;
    }
    .navbar{
        flex-wrap: nowrap;
        
    }
    footer{
        flex-direction: column;
        --fontfooter: 9px;
        text-align: center;
    }
    #marcas{
        flex-direction: column;
    }
    .parceiro{
        width: 10%;
    }

    
  }

:root{
    --bege : #FCF6EE;
    --laranja : #FE8B51; 
    --azulclaro :#92DAFD;
    --azulescuro: #0059A0;
    --max : 1500px;
    --min: 320px;
    --font1: 40px;
    --font2: 20px;
    --fontnav : 24px;
    --fontbutton: 20px;
    --margin-top: 8%;
    --height: 450px;
    --fontfooter: 18px;
  }

*{
    padding: 0;
    margin: 0;
}



body{
    background-color: var(--bege);
    /* min-width: var(--min);
    max-width: var(--max); */
    margin: auto;
    justify-content: center;
}

header{
    display: flex;
    justify-content: center;
    margin: auto;

}

.logo{
    width: 60%;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: var(--bege);
    padding: 1%;  
    z-index: 1;
    
} 

.nav-list ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0;
    
    
}

.nav-list li{
    margin: auto ;
}

.nav-link{
    font-family: "Fredoka", sans-serif;
    font-weight: 600px;
    text-decoration: none;
    font-size: var(--fontnav);
    color: black;
    text-wrap: nowrap;
}

main{
    padding-top: 2%;
 }

#btn1{
    text-wrap: nowrap;
}
#cta1{    
    background-image: url("/images/bg1sm.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 5%;
    margin-top: var(--margin-top);
}
    
#box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 3%; */
    padding: 6%;
    min-width: 290px;
    max-width: 50%;
    margin: auto;

background: rgba(252, 246, 238, 0.61);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20.3px);
-webkit-backdrop-filter: blur(10.3px);
}

#box1 h1{
    font-family: "Fredoka", serif;
    font-weight: 600;
    font-size: var(--font1);
    color: var(--laranja);
    margin: 0;
}

h2{
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: var(--font2);
    color: var(--azulescuro);
    text-align: center;
    
}

BUTTON {
    font-family: "fredoka", sans-serif;
    background: var(--laranja);
    border-radius: 100px;
    color: #FFFFFF;
    font-size: var(--fontbutton);
    font-weight: 100;
    padding: 20px 30px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: 0;
 }
 
BUTTON:hover {
    background: var(--azulescuro);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 100px;
    text-decoration: none;

 }

 main h1{
    font-family: "Fredoka", serif;
    font-weight: 600;
    font-size: var(--font1);
    text-align: center;
    color: var(--azulescuro);
    margin: 30px 0;
 }

 main p{
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
 }

#foto1{
    width: 100%;
    text-align: center;
    max-width: 800px;
    display: flex; 
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

ul{
    list-style: none;
}

.topicos{
    display: flex;
    justify-content: space-between;
    margin: auto;

 }

.topico{
    background-color: var(--azulescuro);
    border-radius: 16px;
    max-width: 300px;
    min-width: 200px;
    margin: 20px 5px;
    padding: 10px 20px;
    

}

.topico p{
    color: white;
    display: flex;
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.topico h1{
    font-family: "Fredoka", serif;
    font-weight: 600;
    font-size: var(--font1);
    font-style: normal;
    color: #FE8B51;;
}

#mercadinho img{
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    max-width: 1400px;
    display: flex; 
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.produtos{
    display: flex; 
    justify-content: space-between;
}
.produto{
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--azulclaro);
    width: 200px;
    height: 350px;
    border-radius: 16px 
}

.produto img{
    height: 180px;
}

.produto h2{
    font-size: 20px;
}

h3{
    font-family: "Fredoka", serif;
    font-weight: 600px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

.produto button{
    padding: 10px 60px;
}

/* .valor-unitario{
    background-color: #FFFFFF;
}

.valor-unitario button{
border-radius: 5px;
padding:1px 15px;
margin: 0 15px;
} */


.slider {
    display: block;
    height: 60%;
    width: 60%;
    margin: auto;
    position: relative;
    min-width: 350px;
   
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}
.slider input {
    display: none;

}
.slider label {
    background-color: white;
    border-radius: 100px;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider li:nth-child(4) label {
    left: 100px;
}

.slider li:nth-child(5) label {
    left: 130px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

#projeto{
    text-align: center;
    margin: auto;
    height: var(--height);
}

#projeto h2{
    margin-bottom: 20px;
}

.parceiro{
    width: 90%;
    border-radius: 100%;
    border: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}
#marcas{
    display: flex;
}
#parceiros ul{
    display: flex;
    list-style: none;
    margin: auto auto 50px auto ;
    justify-content: space-between;
}

#parceiros a{
    margin-bottom: 50px;
}
#parceiros{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}


footer{
    display: flex;
    justify-content: space-between;
} 

footer ul{
    list-style: none;  
    display: flex; 
    flex-direction: column;
}

footer li{
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-size: var(--fontfooter);
    text-decoration: none;
    color: black;
    margin: 10px 10px;
    
}
